.header-container {
  width: 100%;
  min-height: 10vh;
  max-height: 25vh;
}

ul {
  display: inline;
}

ul li {
  text-align: center;
  float: left;
  font-size: 14px;
  text-decoration: none;
  color: grey;
  list-style: none;
  margin: 10px 10px 10px 10px;
}

.nav-link {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

.nav-link:hover {
  color: whitesmoke;
}
